<h1>Editing class growth</h1>

<%= render "form", class_growth: @class_growth %>

<br>

<div>
  <%= link_to "Show this class growth", @class_growth %> |
  <%= link_to "Back to class growths", class_growths_path %>
</div>
